
.home-main{
    background: url("bankBg.jpg") no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 586px;
    position: relative;
}
.home-main::before{
    opacity: 0.3;
}
.welcome{
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding-top: 2%;
    font-size: 42px;
    color: black;
}
h1{
    letter-spacing: 10px;
    outline:black;

}
.btn{
    background-color:white;
    color:black;
    padding: 2% 3%;
    font-size: 25px;
    border-radius:7px;
    border: 2px solid white;
    font-weight: bold;
    cursor:pointer;
    margin-top: 25%;
    width: 220px;
}
.btn:hover{
    color: white;
    background-color: black;
}